<h1>Add a new dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
 <div class="form-group">
     <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  </div>
  <div class="form-group">
    <%= f.input :description, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
